/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #020C17;
  --foreground: #171717;

  --color-primary:'#020C17';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/nunito-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dosis-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/dosis-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family:  "Dosis", sans-serif;
}
.nunito-fons {
  font-family: "Nunito", sans-serif;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #433528;
  border-radius: 5px;
}
::-webkit-scrollbar-track{
  background-color: black; 
}

::-webkit-scrollbar-track:hover {
  background-color: #eee;
}

.game_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  gap: 0.25rem;
  padding-top: 32px;
  /* margin: 32px 0 32px 0; */
  padding-bottom: 32px;
}
.doc >p> strong{
  color: #4280bf;
}
@media (max-width: 1500px) and (min-width: 1024px) {
    .media_resp {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1024px) {
  .game_container {
    grid-template-columns: repeat(5, 1fr);
    gap: 0.25rem;
  }
}

@media (max-width: 768px) {
  .game_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;
  }
}

@media (max-width: 640px) {
  .game_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
  }
}

@media (max-width: 500px) {
  .game_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
  }
}

@media (max-width: 425px) {
  .game_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
  }
}

@media (max-width: 320px) {
  .game_container {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 0.25rem;
  }
}